# Project exclude paths
/cloud-comment/target/
/cloud-commons/target/
/cloud-eureka-server/target/
/cloud-gateway/target/
/cloud-resource/target/
/cloud-user/target/
/cloud-wish/target/
/cloud-sell/target/

/cloud-sell/src/main/resources/ding.properties

/cloud-user/src/main/resources/cos.properties
.idea
.idea/**
/cloud-user/src/main/resources/oss.properties
