# Project exclude paths
/cloud-comment/target/
/cloud-commons/target/
/cloud-eureka-server/target/
/cloud-gateway/target/
/cloud-resource/target/
/cloud-user/target/
/cloud-wish/target/
/cloud-sell/target/
/cloud-sell-backend-web/target/
/cloud-oauth/target/


/cloud-sell/src/main/resources/ding.properties
/cloud-sell/src/main/resources/config/mail.setting
/cloud-sell/src/main/resources/config/

/cloud-user/src/main/resources/cos.properties
/cloud-user/src/main/resources/config/
/cloud-user/src/main/resources/config/mail.setting

/cloud-sell-backend-web/src/main/resources/application-dev.yml
/cloud-commons/src/main/resources/application-dev.yml
/cloud-comment/src/main/resources/application-dev.yml
/cloud-gateway/src/main/resources/application-dev.yml
/cloud-oauth/src/main/resources/application-dev.yml
/cloud-resource/src/main/resources/application-dev.yml
/cloud-sell/src/main/resources/application-dev.yml
/cloud-user/src/main/resources/application-dev.yml
/cloud-wish/src/main/resources/application-dev.yml

.idea
.idea/**
/cloud-user/src/main/resources/oss.properties
/.idea/
/.erupt/