server:
  port: 9527
spring:
  application:
    name: cloud-gateway
  redis:
    database: 5
    host: localhost
    port: 6379
    connect-timeout: 2000
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        # 评论模块
        - id: cloud-comment-service
          uri: lb://cloud-comment-service
          predicates:
            - Path=/comment/**
          # 资源模块
        - id: cloud-resource-service
          uri: lb://cloud-resource-service
          predicates:
            - Path=/resource/**
          # 用户模块
        - id: cloud-user-service
          uri: lb://cloud-user-service
          predicates:
            - Path=/user/**
        - id: cloud-user-service-mail
          uri: lb://cloud-user-service
          predicates:
            - Path=/mail/**
          # 心愿墙模块
        - id: cloud-wish-service
          uri: lb://cloud-wish-service
          predicates:
            - Path=/wish/**
eureka:
  instance:
    prefer-ip-address: true
    instance-id: gateway-service-9527
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka
sa-token:
  # token 名称 (同时也是cookie名称)
  token-name: token
  # token 有效期，单位s 默认30天, -1代表永不过期
  timeout: 2592000
  # token 临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: random-64
  # 是否输出操作日志
  is-log: true
  is-read-cookie: false
  is-read-body: false
  is-read-head: true